body {
  background-color: #d0d0d0;
  background-image: url("../img/background.jpg");
}

p {
  margin: 0px 0px 10px;
  padding: 3px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li{
  margin:   0px;
  padding: 3px;
  list-style-type: none;  
}

a {
  text-decoration: none;
  color: #acacac;
  font-size: bold 1em;
 
}

h3 {
  font-size: 1.31em;
  text-align: center;
  color: #aaaaaa;
  text-transform: uppercase;
  margin: 1px 20px 10px 20px;
  text-shadow: 2px 2px 15px #9e9e9e inset;
}

header {
  display: block;
  /* background-color: pink; */
  margin-left: auto;
  width: 93%;
  background-color: #ebebeb;
  margin: 45px auto 45px auto;
  border: 1px solid #c8c8c8;
  box-shadow: 2px 2px 5px #9e9e9e, -1px -1px 1px #c3c3c3;
}

li {
  margin: 0px;
  padding: 10px;
  list-style-type: none;
  display: inline-block;
  height: inherit;
  text-transform: uppercase;
  font-weight: 800;
}

button {
  margin: 1px 20px 25px 20px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  background: linear-gradient(#f7f7f7, #efefef);
  color: #959595;
  box-shadow: 1px 1px 3px #9e9e9e;
}

button:hover {
  color: #616160;
  box-shadow: 0px 0px 0px #9e9e9e;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
}

nav ul li ul {
  display: none;
  position: relative;
  font-size: 10px;
  font-weight: 400px;
}

nav ul li ul li{
  margin-right: 0px;
   
}

section {
  width: 90%;
  background-color: #ebebeb;
  margin:  45px auto 45px auto;
  padding: 1.45%;
  border: 1px solid #c8c8c8;
  box-shadow: 2px 2px 5px #9e9e9e, -1px -1px 1px #c3c3c3;
}  

#pics {

  background-image: url("../img/background2.jpg");
}

#pics article ul  {
  background-image: url("../img/background2.jpg");
  padding: 5px;
  background-color: #ebebeb;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

#pics article ul li {
  
  padding-right: 20px;
}

#pics article ul li a:hover {
  color: #4b4b4b;
}

.thumb-container {
  
  margin: 1% 0 1% 0;
  border: 0px;
  width: 100%;
  padding: 0%;
}

.thumb-section {
  max-width: 100%;
  overflow: hidden;
  
}

.thumb-unit {
  
  display: block;
  width: 25%;  
  margin: 0;
  float: left; 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 24%
}

.thumb-overlay div {
  display: block;
  text-align: center;
  padding: 43% 0 15% 0;
  overflow: hidden;
}

.thumb-overlay div strong {
  color: black;
  text-transform: uppercase;
  font-weight: 600;
  padding: 5% 15%;
  background-color: #e5ca16;
  font-family: serif;
  font-size: 1em;
   box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
 .thumb-overlay {
  position: absolute;
  bottom: null;
  top: 100%;
  left: 0px;
  right: 0px;
  background-color: black;
  opacity: 0.8;
  height: 100%;
  -webkit-transition: top 0.1s ease-out 0.2s;
  -moz-transition: top 0.1s ease-out 0.2s;
  -o-transition: top 0.1s ease-out 0.2s;
   transition: top 0.1s ease-out 0.2s; 
  overflow: hidden;

}
.thumb-unit:hover .thumb-overlay{
  position: absolute;
  bottom: null;
  top: 0%;
  left: 0px;
  right: 0px;
  background-color: black inherit;
  

}

#fotterSocial {
  float: right;
  margin-right: -15px; 
  padding-top: 10px;
}

#fotterSocial ul li {
  float: right;
  display: inline-block;
  width: 28px;
  height: 25px;
  box-shadow: 2px 2px 3px #9e9e9e;
  background-color: #f6f6f6; 
  margin-left: 10px;
  border-radius: 3px;

}
#fotterSocial ul li a img {
  
  color: #f6f6f6;
  padding: 5px;
  margin-right: 5px;
}

#siteInfo ul li {
  float: left;
  display: inline;
}

#siteInfo ul li a:hover {
  color: #616160;
}

#siteInfo p {
  margin: 0px;
}

#footer {
  width: 90%;
  margin-left: 3%;
  color: #acacac;
}

.footer {
  padding: 30px;
}

article ul li {
  display: inline;
  text-align: center;
}

article h4 {
  padding: 20px 20px 1px 20px;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0px;
}
article h4 a {
  color: #666666;
}

article h6 {
  font-size: 10px;
  font-style: italic;
  color: #acacac;
  margin: 0px;
  padding: 1px 20px 5px 20px;
}

.top_content {
  background-image: url("../img/background2.jpg");
  width: 90%;
  display: block; 
  
}

.column_4 {
  position: relative;
  float: left;
  width: 33%;
  margin: 0%;
  padding: 0%;
}

.content {
  background-color: #f4f4f4;
  width: 100%;
  display: flex;
}

.content article p {
  padding: 10px 20px 10px 20px;
  color: #959595; 
}

#banner img {
  display: block;
  width: 100%;  
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media screen and (max-width: 480px) { 
  header nav ul li{
    display: none;
  }

  .column_4 {
  position: relative;
  float: none;
  width: 100%;
  margin: 0%;
  padding: 0%;
}
  .content {
    display: block;
  }

 }
/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) { 
  .thumb-unit {
    width: 50%;
    padding-top: 45%;
  }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 


}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}
